{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Django Tailwind</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>

<body>

	<!-- component -->
	<div>
		<div class="flex h-screen overflow-y-hidden bg-white" x-data="setup()"
			x-init="$refs.loading.classList.add('hidden')">
			<!-- Loading screen -->
			<div x-ref="loading"
				class="fixed inset-0 z-50 flex items-center justify-center text-white bg-black bg-opacity-50"
				style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)">
				Wait a minute.....
			</div>

			<!-- Sidebar backdrop -->
			<div x-show.in.out.opacity="isSidebarOpen" class="fixed inset-0 z-10 bg-black bg-opacity-20 lg:hidden"
				style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)"></div>

			<!-- Sidebar -->
			<aside x-transition:enter="transition transform duration-300"
				x-transition:enter-start="-translate-x-full opacity-30  ease-in"
				x-transition:enter-end="translate-x-0 opacity-100 ease-out"
				x-transition:leave="transition transform duration-300"
				x-transition:leave-start="translate-x-0 opacity-100 ease-out"
				x-transition:leave-end="-translate-x-full opacity-0 ease-in"
				class="fixed inset-y-0 z-10 flex flex-col flex-shrink-0 w-64 max-h-screen overflow-hidden transition-all transform bg-white border-r shadow-lg lg:z-auto lg:static lg:shadow-none"
				:class="{'-translate-x-full lg:translate-x-0 lg:w-20': !isSidebarOpen}">
				<!-- sidebar header -->
				<div class="flex items-center justify-between flex-shrink-0 p-2"
					:class="{'lg:justify-center': !isSidebarOpen}">
					<span class="p-2 text-xl font-semibold leading-8 tracking-wider uppercase whitespace-nowrap">
						D<span :class="{'lg:hidden': !isSidebarOpen}">J</span>
					</span>
					<button @click="toggleSidbarMenu()" class="p-2 rounded-md lg:hidden">
						<svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none"
							viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M6 18L18 6M6 6l12 12" />
						</svg>
					</button>
				</div>
				<!-- Sidebar links -->
				<nav class="flex-1 overflow-hidden hover:overflow-y-auto">
					<ul class="p-2 overflow-hidden">
						<li>
							<a href="{% url 'home' %}" class="flex items-center p-2 space-x-2 rounded-md hover:bg-gray-100"
								:class="{'justify-center': !isSidebarOpen}">
								<span>
									<svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
										viewBox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
											d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
									</svg>
								</span>
								<span :class="{ 'lg:hidden': !isSidebarOpen }">Home</span>
							</a>

							{% if user.is_authenticated %}
							<a href="#ex1" rel="modal:open" class="flex items-center cursor-pointer p-2 space-x-2 rounded-md hover:bg-gray-100"
								:class="{'justify-center': !isSidebarOpen}">
								<span>
									<svg class="w-6 h-6 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
								</span>
								<span :class="{ 'lg:hidden': !isSidebarOpen }">Write</span>
							</a>
							{% endif %}
						</li>
						<!-- Sidebar Links... -->
					</ul>
				</nav>
				<!-- Sidebar footer -->
				<div class="flex-shrink-0 p-2 border-t max-h-14">
					{% if user.is_authenticated %}
					<button
						hx-post="{% url 'account_logout' %}" hx-target="body"
						class="flex items-center justify-center w-full px-4 py-2 space-x-1 font-medium tracking-wider uppercase bg-gray-100 border rounded-md focus:outline-none focus:ring">
						<span>
							<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
								stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
									d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
							</svg>
						</span>
						<span :class="{'lg:hidden': !isSidebarOpen}"> Logout </span>
					</button>
					{% endif %}
				</div>
			</aside>

			<div class="flex flex-col flex-1 h-full overflow-hidden">
				<!-- Navbar -->
				<header class="flex-shrink-0 border-b">
					<div class="flex items-center justify-between p-2">
						<!-- Navbar left -->
						<div class="flex items-center space-x-3">
							<span class="p-2 text-xl font-semibold tracking-wider uppercase lg:hidden">DJ</span>
							<!-- Toggle sidebar button -->
							<button @click="toggleSidbarMenu()" class="p-2 rounded-md focus:outline-none focus:ring">
								<svg class="w-4 h-4 text-gray-600"
									:class="{'transform transition-transform -rotate-180': isSidebarOpen}"
									xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
									stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
										d="M13 5l7 7-7 7M5 5l7 7-7 7" />
								</svg>
							</button>
						</div>

						<!-- Mobile search box -->
						<div x-show.transition="isSearchBoxOpen" class="fixed inset-0 z-10 bg-black bg-opacity-20"
							style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)">
							<div @click.away="isSearchBoxOpen = false"
								class="absolute inset-x-0 flex items-center justify-between p-2 bg-white shadow-md">
								<div class="flex items-center flex-1 px-2 space-x-2">
									<!-- search icon -->
									<span>
										<svg class="w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg"
											fill="none" viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
										</svg>
									</span>
									<input type="text" placeholder="Search"
										class="w-full px-4 py-3 text-gray-600 rounded-md focus:bg-gray-100 focus:outline-none" />
								</div>
								<!-- close button -->
								<button @click="isSearchBoxOpen = false" class="flex-shrink-0 p-4 rounded-md">
									<svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none"
										viewBox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
											d="M6 18L18 6M6 6l12 12" />
									</svg>
								</button>
							</div>
						</div>

						<!-- Desktop search box -->
						<div class="items-center hidden px-2 space-x-2 md:flex-1 md:flex md:mr-auto md:ml-5">
							<!-- search icon -->
							<span>
								<svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none"
									viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
										d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
								</svg>
							</span>
							<input type="text" placeholder="Search"
								class="px-4 py-3 rounded-md hover:bg-gray-100 lg:max-w-sm md:py-2 md:flex-1 focus:outline-none md:focus:bg-gray-100 md:focus:shadow md:focus:border" />
						</div>

						<!-- Navbar right -->
						<div class="relative flex items-center space-x-3">
							<!-- Search button -->
							<button @click="isSearchBoxOpen = true"
								class="p-2 bg-gray-100 rounded-full md:hidden focus:outline-none focus:ring hover:bg-gray-200">
								<svg class="w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none"
									viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
										d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
								</svg>
							</button>

							<div class="items-center hidden space-x-3 md:flex">
								<!-- Notification Button -->
								<div class="relative" x-data="{ isOpen: false }">
									<!-- red dot -->
									<div class="absolute right-0 p-1 bg-red-400 rounded-full animate-ping"></div>
									<div class="absolute right-0 p-1 bg-red-400 border rounded-full"></div>
									<button @click="isOpen = !isOpen"
										class="p-2 bg-gray-100 rounded-full hover:bg-gray-200 focus:outline-none focus:ring">
										<svg class="w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg"
											fill="none" viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
										</svg>
									</button>

									<!-- Dropdown card -->
									<div @click.away="isOpen = false" x-show.transition.opacity="isOpen"
										class="absolute w-48 max-w-md mt-3 transform bg-white rounded-md shadow-lg -translate-x-3/4 min-w-max">
										<div class="p-4 font-medium border-b">
											<span class="text-gray-800">Notification</span>
										</div>
										<ul class="flex flex-col p-2 my-2 space-y-1">
											<li>
												<a href="#"
													class="block px-2 py-1 transition rounded-md hover:bg-gray-100">Link</a>
											</li>
											<li>
												<a href="#"
													class="block px-2 py-1 transition rounded-md hover:bg-gray-100">Another
													Link</a>
											</li>
										</ul>
										<div
											class="flex items-center justify-center p-4 text-blue-700 underline border-t">
											<a href="#">See All</a>
										</div>
									</div>
								</div>

								<!-- Services Button -->
								<div x-data="{ isOpen: false }">
									<button @click="isOpen = !isOpen"
										class="p-2 bg-gray-100 rounded-full hover:bg-gray-200 focus:outline-none focus:ring">
										<svg class="w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg"
											fill="none" viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
										</svg>
									</button>

									<!-- Dropdown -->
									<div @click.away="isOpen = false" @keydown.escape="isOpen = false"
										x-show.transition.opacity="isOpen"
										class="absolute mt-3 transform bg-white rounded-md shadow-lg -translate-x-3/4 min-w-max">
										<div class="p-4 text-lg font-medium border-b">Web apps & services</div>
										<ul class="flex flex-col p-2 my-3 space-y-3">
											<li>
												<a href="#"
													class="flex items-start px-2 py-1 space-x-2 rounded-md hover:bg-gray-100">
													<span class="block mt-1">
														<svg class="w-6 h-6 text-gray-500"
															xmlns="http://www.w3.org/2000/svg" fill="none"
															viewBox="0 0 24 24" stroke="currentColor">
															<path fill="#fff" d="M12 14l9-5-9-5-9 5 9 5z" />
															<path fill="#fff"
																d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
															<path stroke-linecap="round" stroke-linejoin="round"
																stroke-width="2"
																d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
														</svg>
													</span>
													<span class="flex flex-col">
														<span class="text-lg">Atlassian</span>
														<span class="text-sm text-gray-400">Lorem ipsum dolor
															sit.</span>
													</span>
												</a>
											</li>
										</ul>
										<div
											class="flex items-center justify-center p-4 text-blue-700 underline border-t">
											<a href="#">Show all apps</a>
										</div>
									</div>
								</div>

								<!-- Options Button -->
								<div class="relative" x-data="{ isOpen: false }">
									<button @click="isOpen = !isOpen"
										class="p-2 bg-gray-100 rounded-full hover:bg-gray-200 focus:outline-none focus:ring">
										<svg class="w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg"
											fill="none" viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
										</svg>
									</button>

									<!-- Dropdown card -->
									<div @click.away="isOpen = false" x-show.transition.opacity="isOpen"
										class="absolute w-40 max-w-sm mt-3 transform bg-white rounded-md shadow-lg -translate-x-3/4 min-w-max">
										<div class="p-4 font-medium border-b">
											<span class="text-gray-800">Options</span>
										</div>
										<ul class="flex flex-col p-2 my-2 space-y-1">
											<li>
												<a href="#"
													class="block px-2 py-1 transition rounded-md hover:bg-gray-100">Another
													Link</a>
											</li>
										</ul>
										<div
											class="flex items-center justify-center p-4 text-blue-700 underline border-t">
											<a href="#">See All</a>
										</div>
									</div>
								</div>
							</div>

							<!-- avatar button -->
							<div class="relative" x-data="{ isOpen: false }">
								<button @click="isOpen = !isOpen"
									class="p-1 bg-gray-200 rounded-full focus:outline-none focus:ring">
									{% if user.is_authenticated %}
									<img class="object-cover w-8 h-8 rounded-full"
										src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
										alt="{{ user.username }}" 
									/>
									{% else %}
									<img class="object-cover w-8 h-8 rounded-full"
										src="https://pfpmaker.com/_nuxt/img/profile-3-1.3e702c5.png"
										alt="fake" 
									/>
									{% endif %}
								</button>
								<!-- green dot -->
								<div class="absolute right-0 p-1 bg-green-400 rounded-full bottom-3 animate-ping"></div>
								<div
									class="absolute right-0 p-1 bg-green-400 border border-white rounded-full bottom-3">
								</div>

								<!-- Dropdown card -->
								<div @click.away="isOpen = false" x-show.transition.opacity="isOpen"
									class="absolute mt-3 transform -translate-x-full bg-white rounded-md shadow-lg min-w-max">
									{% if user.is_authenticated %}
									<div class="flex flex-col p-4 space-y-1 font-medium border-b">
										<span class="text-sm font-bold text-gray-400">u/{{ user.username }}</span>
										<span class="text-sm text-gray-400">{{ user.email }}</span>
									</div>
									{% endif %}
									<ul class="flex flex-col p-2 my-2 space-y-1">
										{% if request.user.is_authenticated %}
										<li>
											<a hx-boost="true" href="{% url 'bookmarks' %}"
												class="block px-2 py-1 transition rounded-md hover:bg-gray-100">Bookmarks</a>
										</li>
										{% endif %}
										<li>
											<a href="#"
												class="block px-2 py-1 transition rounded-md hover:bg-gray-100">Another
												Link</a>
										</li>
									</ul>
									{% if user.is_authenticated %}
									
									<div class="flex items-center justify-center p-4 text-blue-700 underline border-t">
										<button hx-post="{% url 'account_logout' %}" hx-target="body">
											Logout
										</button>  
									</div>
									
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</header>
				<!-- Main content -->
				
				{% block content %} {% endblock content %}
			</div>

			<!-- Setting panel button -->
			<div>
				<!--<button @click="isSettingsPanelOpen = true"
					class="fixed right-7 px-3 py-3 text-sm font-medium text-white uppercase transform rotate-90 translate-x-8 bg-gray-600 top-1/2 rounded-b-md">
					<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
				</button>-->

				<a href="#ex1" rel="modal:open" class="fixed right-7 px-3 py-3 text-sm font-medium text-white uppercase transform rotate-90 translate-x-8 bg-indigo-600 top-1/2 rounded-b-md">
					<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
				</a>
				
			</div>

			<!-- Settings panel -->
			<div x-show="isSettingsPanelOpen" @click.away="isSettingsPanelOpen = false"
				x-transition:enter="transition transform duration-300"
				x-transition:enter-start="translate-x-full opacity-30  ease-in"
				x-transition:enter-end="translate-x-0 opacity-100 ease-out"
				x-transition:leave="transition transform duration-300"
				x-transition:leave-start="translate-x-0 opacity-100 ease-out"
				x-transition:leave-end="translate-x-full opacity-0 ease-in"
				class="fixed inset-y-0 right-0 flex flex-col bg-white shadow-lg w-80"
				style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)">
				<div class="flex items-center justify-between flex-shrink-0 p-2">
					<h6 class="p-2 text-lg">Settings</h6>
					<button @click="isSettingsPanelOpen = false" class="p-2 rounded-md focus:outline-none focus:ring">
						<svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none"
							viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M6 18L18 6M6 6l12 12" />
						</svg>
					</button>
				</div>
				<div class="flex-1 max-h-full p-4 overflow-hidden hover:overflow-y-scroll">
					<span>Settings Content</span>
					<!-- Settings Panel Content ... -->
				</div>
			</div>
		</div>


		<!-- Remember to include jQuery :) -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

		<!-- jQuery Modal -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

		<script src="https://unpkg.com/htmx.org@1.1.0"></script>
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
		<script>
			const setup = () => {
				return {
					loading: true,
					isSidebarOpen: false,
					toggleSidbarMenu() {
						this.isSidebarOpen = !this.isSidebarOpen
					},
					isSettingsPanelOpen: false,
					isSearchBoxOpen: false,
				}
			}
		</script>
	</div>

	<script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
</body>

</html>