{% extends 'base.html' %}
{% load humanize %}
{% block content %}


<div class="flex flex-wrap -mx-1 overflow-y-scroll">

  <div class="my-1 px-1 w-full overflow-hidden sm:w-full lg:w-1/2 xl:w-1/2">
    <section hx-get="{% url 'post_list' %}" hx-trigger="load" class="text-gray-600 body-font mx-2 my-4">
      <div class="container px-5 py-24 mx-auto">
          
      </div>
    </section>
  </div>

  <div class="my-1 px-1 w-1/2 overflow-hidden sm:w-full lg:w-1/2 xl:w-1/2">
    
  </div>

</div>



<div id="ex1" class="modal">
  {% include 'create_post.html' %}
</div>




<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


{% endblock content %}